<%- include('../partials/header')%>

<form action="/add" method="post" enctype="multipart/form-data" class="pt-5">
  <div class="mt-2">
    <label for=""><span class="text-red-500">*</span> Movie title :</label>
    <div class="mt-2">
      <input
        class="w-full bg-transparent border rounded py-2 px-5"
        type="text"
        name="title"
        placeholder="Enter movie title"
      />
      <% if(errors && errors.title){ %>
      <p class="text-red-500 mb-2 mt-1 text-sm"><%=errors.title.msg %></p>
      <% } %>
    </div>
  </div>

  <div class="mt-2">
    <label for=""
      ><span class="text-red-500">*</span> Movie description :</label
    >
    <div class="mt-2">
      <textarea
        name="description"
        class="w-full bg-transparent border rounded py-2 px-5"
        placeholder="description"
      ></textarea>
      <% if(errors && errors.description){ %>
      <p class="text-red-500 mb-2 mt-1 text-sm"><%=errors.description.msg %></p>
      <% } %>
    </div>
  </div>

  <div class="mt-2">
    <label for=""><span class="text-red-500">*</span> Genre :</label>
    <div class="mt-2">
      <select
        name="genre"
        id=""
        class="w-full bg-transparent border rounded py-2 px-5"
      >
        <option class="text-black" value="">--select genre--</option>
        <option class="text-black bg-transparent capitalize" value="action">
          action
        </option>
        <option class="text-black capitalize" value="adventure">
          adventure
        </option>
        <option class="text-black capitalize" value="horror">horror</option>
        <option class="text-black capitalize" value="thriller">thriller</option>
      </select>
      <% if(errors && errors.genre){ %>
      <p class="text-red-500 mb-2 mt-1 text-sm"><%=errors.genre.msg %></p>
      <% } %>
    </div>
  </div>

  <div class="flex mt-2">
    <div class="mt-2 w-1/2 pr-2">
      <label for=""><span class="text-red-500">*</span> Release year :</label>
      <div class="mt-2">
        <input
          class="w-full bg-transparent border rounded py-2 px-5"
          type="text"
          name="releaseYear"
          placeholder="Release year"
        />
        <% if(errors && errors.releaseYear){ %>
        <p class="text-red-500 mb-2 mt-1 text-sm">
          <%=errors.releaseYear.msg %>
        </p>
        <% } %>
      </div>
    </div>
    <div class="mt-2 w-1/2 pl-2">
      <label for=""><span class="text-red-500">*</span> Rating :</label>
      <div class="mt-2">
        <select
          name="rating"
          id=""
          class="w-full bg-transparent border rounded py-2 px-5"
        >
          <option class="text-black" value="">--select rating--</option>
          <option class="text-black" value="1">1</option>
          <option class="text-black" value="2">2</option>
          <option class="text-black" value="3">3</option>
          <option class="text-black" value="4">4</option>
          <option class="text-black" value="5">5</option>
          <option class="text-black" value="6">6</option>
          <option class="text-black" value="7">7</option>
          <option class="text-black" value="8">8</option>
          <option class="text-black" value="9">9</option>
          <option class="text-black" value="10">10</option>
        </select>
        <% if(errors && errors.rating){ %>
        <p class="text-red-500 mb-2 mt-1 text-sm"><%=errors.rating.msg %></p>
        <% } %>
      </div>
    </div>
  </div>

  <div class="flex mt-2">
    <div class="w-1/2 mr-2 mt-2">
      <label for=""
        ><span class="text-red-500">*</span> Poster :
        <span class="text-sm text-red-500"> (less than 10mb)</span></label
      >
      <div class="mt-2">
        <input
          class="w-full bg-transparent border rounded py-2 px-5"
          type="file"
          name="poster"
          id="poster"
          accept="image/jpeg, image/png"
        />
        <% if(errors && errors.poster){ %>
        <p class="text-red-500 mb-2 mt-1 text-sm"><%=errors.poster.msg %></p>
        <% } %>
      </div>
    </div>
    <div class="w-1/2 ml-2 mt-2">
      <label for=""
        >Video :
        <span class="text-sm text-red-500"> (less than 10mb)</span></label
      >
      <div class="mt-2">
        <input
          class="w-full bg-transparent border rounded py-2 px-5"
          type="file"
          name="video"
          id="video"
          accept="video/mp4, video/webm"
        />
      </div>
    </div>
  </div>

  <div class="mt-5">
    <button class="bg-[#b00c1f] px-4 py-2 rounded">Save</button>
  </div>
</form>

<%- include('../partials/footer')%>
